@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

@import './home/slider';
@import './home/posts-recientes';
@import './home/explorar';
@import './home/number';
@import './home/newsletter';
@import './home/instagram';

html {
  padding: 0;
  margin: 0;
  display: block;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

// .navbar {
//   &-nav {
//   }
// }
.nav {
  &-item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &-link {
    font-family: 18px;
    font-weight: 500;
    color: #ffffff !important;
    text-transform: uppercase;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 .splide__slide{
     width: 100vw;
     height: 100vh;
     position: relative;
     z-index: inherit;
 }
