<div class="row">
    <div class="col-lg-12 col-12">
        <span class="subscribe">{{subscribe.title}}</span>
        <h2>
            {{subscribe.subtitle}}
        </h2>
        <p>
            {{subscribe.text}}
        </p>
        <span>
            {{subscribe.no_spam}}
        </span>
    </div>
</div>