<div class="row">
    <div class="col-lg-6 col-12">
        <span>{{subscribe.title}}</span>
        <h2>
            {{subscribe.subtitle}}
        </h2>
        <p>
            {{subscribe.text}}
        </p>
        <span>
            {{subscribe.no_spam}}
        </span>
    </div>
    <div class="col-lg-6 col-12">	</div>
</div>