.content__explorar {
  h2{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.025em;
    color: #E84751;
    text-align: center;
    margin-top: 3.75rem;
  }
  p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 150.4%;
    text-align: center;
    letter-spacing: 2px;
    margin: 1.875rem auto 0;
    width: 70%;
  }
}